<h3>OTHERS</h3>
<hr>

<ul>
    <li><strong>Institution Innovation Council(IIC) of SIEM</strong> &nbsp;</li>
    <li><strong>International Association of Engineers (IAENG) Member</strong> &nbsp;
        <!-- <a href="https://drive.google.com/file/d/1TEm8anvSSBWloDhhPWlqmrzDyy4ki2jX/view?usp=sharing" target="_blank">certificate</a> -->
    </li>
    <li><strong>Game development using PyGame</strong> &nbsp;
        <a href="https://www.guvi.in/share-certificate/81Qd73buz4D8512W95" target="_blank">GUVI</a>
    </li>
    <li><strong>Software Engineer Certificate</strong> &nbsp;
        <a href="https://www.hackerrank.com/certificates/2f87316b3133" target="_blank">HackerRank</a>
    </li>
    <li><strong>Software Engineer Intern Certificate</strong> &nbsp;
        <a href="https://www.hackerrank.com/certificates/bd3a9b5161f2" target="_blank">HackerRank</a>
    </li>
</ul>
<!-- <div id="interest-hobbie">
    <h3>INTEREST & HOBBIE</h3>
    <hr>
</div> -->
