<h3>COURSES</h3>
<hr>

<ul>
    <li>Java Full Stack Profesional Training &nbsp;
        <a href="https://drive.google.com/file/d/1TEm8anvSSBWloDhhPWlqmrzDyy4ki2jX/view?usp=sharing" target="_blank">certificate</a>
    </li>
    <li>Python for Everybody Specialization &nbsp;
        <a href="https://www.coursera.org/account/accomplishments/specialization/KGVUUJEQVZSG" target="_blank">coursera</a>
    </li>
    <li>Angular &nbsp;
        <a href="https://www.sololearn.com/en/certificates/CC-UWSJMFWV" target="_blank">sololearn</a>
    </li>
    <li>Google Cloud Fundamentals: Core Infrastructure &nbsp;
        <a href="https://www.coursera.org/account/accomplishments/verify/RAVKA6VY8GZK" target="_blank">coursera</a>
    </li>
    <li>Application Security - Vulnerability Assessment &nbsp;
        <a href="https://fsprimecertificate.s3-ap-southeast-1.amazonaws.com/Amanat%20kumar%20Das-amanatkr6@gmail.com-2192737.pdf" target="_blank">Secure Bengal 2021</a>
    </li>
</ul>