<h3>EXPERIENCE</h3>
<hr>

<div id="exe">
    <div id="details">
        <h4 class="desigantion">Software Engineer Intern</h4>
        <p class="company">Trinity Mobility</p>
        <ul>
            <li>
                Developed microservice for Early Warning Dissemination System (EWDS) 
                for disseminating critical disaster-related information using Spring Boot, Postgres.
                <a href="https://mail.trinitymobility.in/segment/disaster-management" target="_blank">
                    <img src="../../assets/Icons/linklogo.png" alt="linklogo">
                </a>
            </li>
            <li>
                Developed Earthquake module for earthquake data visualization 
                on map, data table using angular.
                <a href="https://mail.trinitymobility.in/segment/disaster-management" target="_blank">
                    <img src="../../assets/Icons/linklogo.png" alt="linklogo">
                </a>
            </li>
            <li>
                Worked for Integrated Command and Control Centre (ICCC). 
                In all Smart cities These ICCCs work as the brain and nervous 
                system for city operations.
                <a href="https://www.trinitymobility.com/products#trinityICCC" target="_blank">
                    <img src="../../assets/Icons/linklogo.png" alt="linklogo">
                </a>
            </li>
        </ul>
    </div>
    <div id="date-place">
        <p><strong>JANUARY 2024 - CURRENT</strong></p>
        <p>Bangalore, KA, India</p>
    </div>
</div>

<div id="exe">
    <div id="details">
        <h4 class="desigantion">Software Engineer Intern</h4>
        <p class="company">Kodnest</p>
        <ul>
            <li>
                Collaborated closely with cross-functional teams to translate 
                business requirements into efficient software solutions.
            </li>
            <li>
                Contributed to full-stack web application development, focusing 
                on backend system architecture and frontend user interface design.
            </li>
            <li>
                Acquired invaluable experience in problem-solving, debugging, and 
                agile development methodologies, enhancing my proficiency in delivering scalable and maintainable software solutions
            </li>
        </ul>
    </div>
    <div id="date-place">
        <p><strong>JANUARY 2023 - APRIL 2023</strong></p>
        <p>Remote, India</p>
    </div>
</div>
