<h3>PROJECTS</h3>
<hr>

<h4>E-School Management System Web Application</h4>
<p>-final year college project</p>
<ul>
    <li>
        Streamline administrative tasks and enhance communication
        between parents, students, and teachers. Key features include a gallery for sharing events and activities, a notice
        board for important announcements, attendance tracking, fee management, and digital marksheets etc. Designed to
        optimize efficiency, save time, and promote sustainability by facilitating a paperless environment.
        <a href="https://github.com/Amanat-kumar/E-School-System" target="_blank">(Github link)</a>
    </li>
    <li>
        <h5>Technologies used : HTML, CSS, JavaScript, PHP, MySql.</h5>
    </li>
</ul>

<h4>Banking Web Application</h4>
<p>-personal project</p>
<ul>
    <li>
        Developed a bank application using Java, Hibernate, 
        and MySQL, with HTML, Servlets, and JSP for front-end 
        implementation. Implemented features such as account 
        creation, deposits, withdrawals, and transaction history. 
        Showcased expertise in integrating back-end and front-end 
        technologies for a functional and secure application.
        <a href="https://github.com/Amanat-kumar/Banking-Web-Application-Amanat" target="_blank">(Github link)</a>
    </li>
    <li>
        <h5>Technologies used : Advance Java, Hibernate, Servlet, Jsp, HTML, MySQL.</h5>
    </li>
</ul>

<h4>Canara Bank</h4>
<p>-personal project</p>
<ul>
    <li>
        Created a responsive Canara Bank website clone using HTML and CSS 
        with advanced flexbox techniques. Highlighted expertise in front-end 
        design and layout optimization.
        <a href="https://github.com/Amanat-kumar/Canara-Bank-Clone" target="_blank">(Github link)</a>
    </li>
    <li>
        <h5>Technologies used : HTML, CSS.</h5>
    </li>
</ul>
