<h3>SKILLS</h3>
<hr>

<div class="skills">
    <div class="skill-heading">
        <ul>
            <li>
                <Strong>TECHNICAL SKILLS</Strong>
                <ul>
                    <li><strong>Programming Languages : </strong> C Programming, Java, Python, JavaScript, HTML, CSS, SQL</li>
                    <li><strong>Frameworks : </strong>Spring, Spring MVC, Spring Boot, Angular</li>
                    <li><strong>Libraries : </strong>Hibernate, JDBC</li>
                    <li><strong>Databases : </strong>MySQL, MS SQL, PostgreSQL</li>
                    <li><strong>Technologies : </strong>Servlet, JSP</li>
                    <li><strong>API's : </strong>RESTful API</li>
                </ul>
            </li>

            <li>
                <Strong>SOFT SKILLS</Strong>
                <ul>
                    <li>Problem-Solving, Communication, Team Collaboration, Adaptability, 
                        <br>
                        Time Management, Attention to Detail, Creativity
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
