<div id="main-sub">
  <header>
    <div id="name">Amanat kumar Das</div>
    <div id="contacts">
      <div id="email">
        <a href="mailto:amanatkr6@gmail.com" target="_blank">
          <img src="../assets/Icons/email.png" alt="emaillogo">
          amanatkr6&#64;gmail.com</a>
      </div>
      &nbsp; &nbsp;
      <div id="phone-number">
        <a href="tel:+91 8927278364" target="_blank">
          <img src="../assets/Icons/phone-call.png" alt="phonelogo">
          +91 8927278364</a>
      </div>
      &nbsp; &nbsp;
      <div id="material-status">
          <img src="../assets/Icons/engagement-ring.png" alt="material status">
          Single
      </div>
      &nbsp; &nbsp;
      <div id="gender">
          <img src="../assets/Icons/equality.png" alt="gender">
          Male
      </div>
      &nbsp; &nbsp;
      <div id="citizenship">
          <img src="../assets/Icons/worldflag.png" alt="citizenship">
          Indian
      </div>
      &nbsp; &nbsp;
      <div id="address">
        <img src="../assets/Icons/location.png" alt="locationlogo">
        Siliguri, West Bengal, India</div>
    </div>

    <div id="social">
      <div id="linkedin">
        <a href="https://www.linkedin.com/in/amanat-kumar-das-9679681a1/" target="_blank">
          <img src="../assets/Icons/linkedin.png" alt="linkedinlogo">
          linkedin.com/in/amanat-kumar-das-9679681a1/
        </a>
      </div>
      &nbsp; &nbsp;
      <div id="github">
        <a href="https://github.com/Amanat-kumar" target="_blank">
          <img src="../assets/Icons/github.png" alt="githublogo">
          github.com/Amanat-kumar
        </a>
      </div>
      &nbsp; &nbsp;
      <div id="hackerrank">
        <a href="https://www.hackerrank.com/profile/Amanat_kumar" target="_blank">
          <img src="../assets/Icons/hackerranklogo.png" alt="hackerranklogo">
          hackerrank.com/profile/Amanat_kumar
        </a>
      </div>
    </div>

  </header>

  <app-objective></app-objective>
  <app-education></app-education>
  <app-experience></app-experience>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-courses></app-courses>
  <app-others></app-others>
 </div>